html,body {
    margin: 0;
}

#hello {
    width: 30%;
    height: 30%;
    margin: 5% auto;
    padding: 2%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 3em;
    border-radius: 2em;
    color: #FFF;
    transition: all 2s cubic-bezier(0,1,0,1);
}

canvas {
    margin: auto;
    text-align: center;
    padding:auto;
}