<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>K &amp; E Imaging - Super Archive 5000</title>
  </head>
  <body>
    <div>{{ the_answer }}</div>
    <div><a href="{% url 'imageview:hello' the_answer %}"> {{ the_answer}} </a> </div>
    <h1> Edit Shit </h2>

    {% for poop in shit %}
    <div>
      <label for="choice{{forloop.counter}}">{{poop.stuff}}
      <form action="{% url 'imageview:fecate' %}" method="post">
      {% csrf_token %}
      <input type="text" value="{{poop.crap}}" />Crap
      <input type="radio" id="choice{{forloop.counter}}" value="{{poop.dick}}" />Dick {{forloop.counter}}
    </div>

    {% endfor %}

  </body>
</html>
