body{
	margin:0px;
	padding:0px;
	background-color: #111;
	overflow: hidden;
}

canvas{
	padding:0px;
	margin: calc(50vh - 600px) calc(50vw - 600px);
	animation: rot 60s linear infinite;
}

@keyframes rot {
	0% {
		transform: rotate(0deg);
	} 100% {
		transform: rotate(360deg);
	}
}